includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - src

    level: max

    ignoreErrors:
        - '#Property MichaelRubel\\Formatters\\Exceptions\\Should(.*)#'
        - '#Method MichaelRubel\\Formatters\\Formatter\::format\(\) has no return type specified.#'
        - '#Instanceof between \*NEVER\* and MichaelRubel\\Formatters\\Formatter will always evaluate to false.#'
        - '#Unable to resolve the template type (.*) in call to function collect#'

    checkMissingIterableValueType: false

    reportUnmatchedIgnoredErrors: false

    checkOctaneCompatibility: true
