includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - src

    level: max

    ignoreErrors:
        - '#Property MichaelRubel\\Formatters\\Exceptions\\Should(.*)#'
        - '#Method MichaelRubel\\Formatters\\Formatter\::format\(\) has no return type specified.#'
        - '#Instanceof between \*NEVER\* and MichaelRubel\\Formatters\\Formatter will always evaluate to false.#'
        - '#Unable to resolve the template type (.*) in call to function collect#'
        - '#(.*)expects string, mixed given.#'
        - '#Cannot cast mixed to float\.#'
        - '#Parameter \#2 \$style of class NumberFormatter constructor expects int, mixed given\.#'
        - '#Parameter \#1 \$time of method Carbon\\Carbon\:\:parse\(\) expects DateTimeInterface\|string\|null, mixed given\.#'

    checkMissingIterableValueType: false

    reportUnmatchedIgnoredErrors: false

    checkOctaneCompatibility: true
